.header {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  border-top: 1px solid #e5e6e7;
  border-bottom: 1px solid #e5e6e7;
  .header__nav {
    padding-left: 0;
    -webkit-padding-start: 0;
    background-color: white;
  }
}

.header__logo-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0.125rem 0.125rem 0.125rem 1.5625rem;
  -webkit-padding-start: 0;
  max-height: 3.625rem;
  float: left;
  .header__logo--BS {
    width: 3.625rem;
    //display: inline-block;
    margin-right: 0.5rem;
  }
  .header__logo--biosys {
    width: 4.625rem;
    //display: inline-block;
    padding-top: 2rem;
  }
  .header__logo__img {
    height: 100%;
  }
  .header__headline {
    display: inline-block;
    font-size: 1.5rem;
    margin: auto 0 auto 2rem;
    @media (max-width: 1100px) {
      display: none;
    }
  }
}

.header__nav-box {
  .header__nav {
    display: flex;
    flex-direction: row;
    height: auto;
    margin: 0;
    .nav-item {
      list-style-type: none;
      border-left: 1px solid #e5e6e7;
      display: flex;
      justify-content: center;
      white-space: nowrap;
      .a__nav-item {
        font-size: 0.875rem;
        line-height: 1.42857143;
        text-decoration: none;
        color: $color-font-main;
        padding: 1.1875rem 1.875rem;
        border-bottom: 0.25rem solid rgba(255, 108, 79, 0);
        vertical-align: center;
        &:hover {
          transition: border-color .25s;
          border-bottom: 0.25rem solid rgba(242, 108, 79, 1);
          @media (max-width: $mobile-max-width) {
            padding-bottom: 0.9375rem;
          }
        }
        @media (max-width: 1440px){
          border-bottom: 1px solid #e5e6e7;
        }
        @media (max-width: $mobile-max-width) {
          width: 100%;
          padding: 1.125rem 0 1.125rem 1.125rem;
        }
      }
      .active {
        border-bottom: 0.25rem solid rgba(242, 108, 79, 1);
        @media (max-width: $mobile-max-width) {
          padding-bottom: 0.9375rem;
        }
      }
      @media (max-width: $mobile-max-width) {
        border-left: none;
        width: 100%;
      }
    }
    @media (max-width: $tablet-max-width) {
      justify-content: flex-end;
    }
    @media (max-width: $mobile-max-width) {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }
  }
  @media (max-width: $tablet-max-width) {
    max-height: 0;
    width: 100%;
    position: absolute;
    top: 3.95rem;
    transition: max-height 0.25s ease-in;
    overflow: hidden;
  }
}

.header__burger {
  display: flex;
  justify-content: center;
  align-items: center;
  .header__burder_icon {
    margin: -0.125rem 0 -0.25rem 1rem;
    height: 2rem;
    width: 2rem;
  }
  &:hover {
    cursor: pointer;
  }
  @media (min-width: $tablet-max-width) {
    display: none;
  }
}

.menu-expanded {
  max-height: 80px;
  @media (max-width: $mobile-max-width) {
    max-height: 320px;
  }
}
