.intro{
  font-family: "Century Gothic";
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: $default-background;
  margin: auto;
  .intro__head {
    margin-top: 7rem;
    width: 100%;
    max-width: $page-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;


    .intro__title {
      font-weight: normal;
      font-size: 3rem;
      //position: relative;
      @media screen and (max-width: $mobile-width){
        font-size: 2rem;
      }
    }
    .intro__img {
      width: 27rem;
      @media screen and (max-width: $mobile-width){
        width: 60%;
      }
    }

  }
  //.intro__head--exp{
  //  @extend .intro__head;
  //  @media screen and (max-width: $mobile-width){
  //    margin-top: 22rem;
  //  }
  //}
  .intro__info{
    width: 100%;
    max-width: $page-width;
    display: flex;
    flex-direction: row;
    padding: 2rem 0;
    margin: 3rem auto;
    @media screen and (max-width: $mobile-width){
      flex-direction: column;
      padding: 0;
    }
    .intro__info__column{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      .intro__column__title{
        font-weight: normal;
        font-size: 2rem;
        text-align: center;
        @media screen and (max-width: $mobile-width){
          font-size: 1.5rem;
        }
      }
      .shield__img{
        width: 11rem;
        height: 11rem;
      }
      .col__img{
        width: 10rem;
        height: 10rem;
      }
      .mobile__img{
        width: 8rem;
      }
    }
  }
  .intro__board{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .intro__title {
      font-weight: normal;
      font-size: 3rem;
      //position: relative;
      text-align: center;
      @media screen and (max-width: $mobile-width){
        font-size: 2rem;
      }
    }
    .intro__board__content{
      width: 100%;
      max-width: $page-width;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0;
      //position: relative;
      .board__img{
        width: 40rem;
        @media screen and (max-width: $mobile-width){
          display: none;
        }
      }
      .board__img--media{
        display: none;
        @media screen and (max-width: $mobile-width){
          display: block;
          width: 20rem;
        }
      }

    }
    .content__ul {
      //position: absolute;
      background-image: url("./../../assets/board.png");
      background-size: cover;
      width: 34rem;
      height: 25.5rem;
      -webkit-padding-start: 6rem;
      //width: 25rem;
      //top: 3.5rem;
      @media screen and (max-width: $mobile-width){
        //width: 12rem;
        width: 16.5rem;
        height: 30rem;
        top: 2rem;
        //padding-left: 0.5rem;
        padding-left: 4rem;
        background-image: url("./../../assets/board2.png");
      }
      .content__line {
        font-weight: normal;
        font-size: 1.4rem;
        color: white;
        padding: 0.8rem 6rem 0 0;
        &:first-child{
          padding-top: 3rem;
        }
        @media screen and (max-width: $mobile-width){
          font-size: 1.1rem;
          padding: 0.8rem 4rem 0 0;
        }
      }
    }

  }

}
//.intro__head--exp{
//  @extend .intro__head;
//  @media screen and (max-width: $mobile-width){
//    margin-top: 22rem;
//  }
//}


