// colors
$color-font-main: #333;

// responsivity
$page-max-width: 1200px;
$tablet-max-width: 960px;
$mobile-max-width: 640px;

body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  margin: 0;
}
$default-background: #ecf4f7;
$page-width: 1200px;
$tablet-width: 989px;
$mobile-width: 640px;


$footer__bg-color: #95b8d6;
$footer__border-color: #bad0e1;
$footer__text-color: white;
$mobile-width: 640px;
$desktop-width: 1200px;

