@import '../config/config';

.footer {
  background-color: $footer__bg-color;
  width: 100%;
  .container {
    display: flex;
    justify-content: center;
    .footer-box {
      padding: 0.5rem;
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: $desktop-width;
      @media screen and (max-width: $mobile-width) {
        display: flex;
        flex-direction: column;
      }
      .footer-header {
        max-width: 75rem;
        padding-top: 1.5rem;
        display: flex;
        flex-direction: column;
        @media screen and (max-width: $mobile-width) {
          padding-left: 2rem;
        }
        .footer-header-text {
          margin: 0;
          //padding-bottom: 1rem;
          padding: 0.5rem;
          color: $footer__text-color;
        }
        .footer-social-list {
          .footer-social-list-box {
            text-decoration: none;
            .footer-social-list-icon {
              cursor: pointer;
              padding: 0.5rem;
            }
            :hover {
              transform: scale(1.1);
            }
          }
        }
      }
      .footer-page__list {
        max-width: 75rem;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 640px) {
          padding-left: 2.5rem;
        }
        .footer-page__list-link {
          padding-bottom: 0.2rem;
          text-decoration: none;
          color: $footer__text-color;
        }
        :hover {
          text-decoration: underline;
          transition: ease-in;
        }
      }
    }
  }
  .footer__separator {
    padding-top: 1rem;
    border-bottom: 1px solid $footer__border-color;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  .container {
    display: flex;
    justify-content: center;
    .footer-info__box {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: $desktop-width;
      padding: 0.5rem;
      @media screen and (max-width: $mobile-width) {
        display: flex;
        flex-direction: column;
        padding-left: 2rem;
      }
      .footer-info__box-text {
        color: $footer__text-color;
        padding: 0.5rem;
      }
    }
  }
}
